header{
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 1fr ;
}

.categories-g{
    width: 300px;
    height: 500px;
    margin-top: 20px;
    background-color: blueviolet;
    
}
.container-g{

  
    background-color: rgba(0, 255, 255, 0.502);
    max-width: 1250px;
    margin: 0 auto;
}
.categories-c{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: brown;
    padding: 0 5px;
    position: relative;
   
}
.categorie-item{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: beige;
    margin-top:9px; 
   
}
.categorie-item  a {
text-decoration: none;
}
.categorie-item  a span {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    
    }
.categorie-icon{
    float: left;
    background-image: url(https://via.placeholder.com/600/8985dc);
    height: 40px;
    width: 40px;
}
